@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::after, ::before {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.custom {
    z-index: 50 !important;
}